# [IT Academy - Data Science with Python](https://www.barcelonactiva.cat/es/itacademy)
## [S18 T01: NoSQL Database](https://github.com/jesussantana/NoSQL-Database/blob/main/notebooks/S18_T01_NoSQL_Database.ipynb)

[![forthebadge made-with-python](http://ForTheBadge.com/images/badges/made-with-python.svg)](https://www.python.org/)  
[![Made withJupyter](https://img.shields.io/badge/Made%20with-Jupyter-orange?style=for-the-badge&logo=Jupyter)](https://jupyter.org/try)

********

In [1]:
import pandas as pd
# ^^^ pyforest auto-imports - don't write above this line

#%pip install pymongo
#%pip install dnspython==2.1.0

import pymongo
from getpass import getpass

## Level 1

- Exercise 1  

  - Create a NoSQL database using MongoDB. Add some sample data that allows you to check that you are able to process the information in a basic way.

https://www.mongodb.com/

![Mongodb Page](img/Atlas0.png)

![Mongodb Atlas Account](img/Atlas1.png)

### MongoDB Compass New Connection

![Mongodb Compass New Connection](img/compass1.png)

### MongoDB Compass New Connection Credentials

![Mongodb Compass Connected](img/compass3.png)

### MongoDB Compass Connection

![Mongodb Compass Connection](img/compass2.png)

### MongoDB Compass Connect

![Mongodb Compass Credentials](img/compass4.png)

### MongoDB Atlas New Cluster Connect

![Mongodb Compass Atlas cluster](img/compass-atlas.png)

### MongoDB Compass New Database

![Mongodb Compass Create Database](img/compass-create-database.png)

### MongoDB Compass Database Created

![Mongodb Compass Add Data](img/compass-add-data.png)

### MongoDB Compass Add Data

![Mongodb Compass Select Data to Add](img/compass-select-data-add.png)

### MongoDB Compass Collection Created

![Mongodb Compass Collection Created](img/compass-collection-created.png)

### MongoDB Compas Collection

![Mongodb Compass Collection](img/compass-collection.png)

### MongoDB Compass Collection Schema

![Mongodb Compass Collection Schema](img/compass-collection-schema.png)

### Compass Query

#### Query that belong to the regional zone of western Europe and their perception of corruption is higher than 0.5%

{"Regional indicator":"Western Europe", "Perceptions of corruption": { $gte : '0.5'}}

![Mongodb Compass Collection Query](img/compass-collection-query.png)

## Exercise 2  

  - Connect the NoSQL database to Python using for example pymongo.

### Enter credentials

In [2]:
user_name = getpass("Enter username: ")
passw = getpass("Enter password: ")

Enter username: ········
Enter password: ········

In [3]:
MONGODB_URI = f'mongodb+srv://{user_name}:{passw}@cluster0.hvrc9.gcp.mongodb.net/'

### MongoDb Connection

In [4]:
#client = pymongo.MongoClient(MONGODB_URI)

client = pymongo.MongoClient('mongodb+srv://Enjoy101:Enjoy101@cluster0.hvrc9.gcp.mongodb.net/')

### Databases list

In [5]:
client.list_database_names()

['klout', 'world_happyness_report_2021', 'admin', 'local']

### Select Database to work

In [6]:
db = client.world_happyness_report_2021

### Collections List

In [7]:
db.list_collection_names()

['world_happyness']

*********************

## Level 2

- Exercise 1: 
  - Upload some simple queries to a Pandas Dataframe.

In [8]:
mycol = db.world_happyness

In [9]:
df = pd.DataFrame(list(mycol.find()))

In [10]:
df.head()

,_id,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,...,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,60e071218921bd4d1d120f6c,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,...,-0.098,0.186,2.430,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,60e071218921bd4d1d120f6d,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,...,0.030,0.179,2.430,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,60e071218921bd4d1d120f6e,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,...,0.025,0.292,2.430,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,60e071218921bd4d1d120f6f,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,...,0.160,0.673,2.430,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,60e071218921bd4d1d120f70,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,...,0.175,0.338,2.430,1.501,1.079,0.753,0.647,0.302,0.384,2.798

### Countries Support

In [11]:
query = [{'$project':{'Country name':1, 'Regional indicator':1 , 'Social support':1,'_id': 0}},
         {'$sort' : {'Social support':-1}},
         {'$limit': 10}]

In [12]:
Support = mycol.aggregate(query)

In [13]:
df_Support = pd.DataFrame(list(Support))

In [14]:
df_Support

     Country name                  Regional indicator Social support
0    Turkmenistan  Commonwealth of Independent States          0.983
1         Iceland                      Western Europe          0.983
2         Denmark                      Western Europe          0.954
3         Finland                      Western Europe          0.954
4          Norway                      Western Europe          0.954
5      Kazakhstan  Commonwealth of Independent States          0.952
6     New Zealand               North America and ANZ          0.948
7        Slovenia          Central and Eastern Europe          0.948
8         Ireland                      Western Europe          0.947
9  Czech Republic          Central and Eastern Europe          0.947

### Countries Perception of Corruption

In [15]:
query = [{'$project':{'Country name':1, 'Regional indicator':1 , 'Perceptions of corruption':1,'_id': 0}},
         {'$sort' : {'Perceptions of corruption' : -1 }},
         {'$limit': 10}]

In [16]:
Corruption = mycol.aggregate(query)

In [17]:
df_Corruption = pd.DataFrame(list(Corruption))

In [18]:
df_Corruption

,Country name,Regional indicator,Perceptions of corruption
0,Croatia,Central and Eastern Europe,0.939
1,Romania,Central and Eastern Europe,0.938
2,Bulgaria,Central and Eastern Europe,0.932
3,Bosnia and Herzegovina,Central and Eastern Europe,0.931
4,Afghanistan,South Asia,0.924
5,Ukraine,Commonwealth of Independent States,0.924
6,Moldova,Commonwealth of Independent States,0.918
7,Kosovo,Central and Eastern Europe,0.917
8,Lesotho,Sub-Saharan Africa,0.915
9,Slovakia,Central and Eastern Europe,0.911

### Countries Support & Perception of Corruption

In [19]:
query = [{'$project':{'Country name':1, 'Regional indicator':1, 'Social support':1, 'Perceptions of corruption':1,'_id': 0}},
         {'$sort' : {'Social support':-1}},
         {'$limit': 10}]

In [20]:
Support_Corruption = mycol.aggregate(query)

In [21]:
df_Support_Corruption = pd.DataFrame(list(Support_Corruption))

In [22]:
df_Support_Corruption

,Country name,Regional indicator,Social support,Perceptions of corruption
0,Turkmenistan,Commonwealth of Independent States,0.983,0.888
1,Iceland,Western Europe,0.983,0.673
2,Denmark,Western Europe,0.954,0.179
3,Finland,Western Europe,0.954,0.186
4,Norway,Western Europe,0.954,0.270
5,Kazakhstan,Commonwealth of Independent States,0.952,0.733
6,New Zealand,North America and ANZ,0.948,0.242
7,Slovenia,Central and Eastern Europe,0.948,0.806
8,Ireland,Western Europe,0.947,0.363
9,Czech Republic,Central and Eastern Europe,0.947,0.868

************************

## Level 3

- Exercise 3: 
  - Generates a statistical summary of the information contained in the database.